.homepage {
  overflow-x: hidden;
  overflow-y: scroll;
}

.flower-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: -30px;
  opacity: 0.075;
  z-index: -1;
  background-attachment: fixed;
}

.hero {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;


  h1 {
    font-size: 80px;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  .header-backdrop {
    position: absolute;
    top: -80%;
    width: 800px;
    z-index: -1;
    transform: translateX(17px);

    @media (max-width: 575.98px) {
      top: -16%;
      transform: translate(38px);
    }
  }

  .under-header {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 7px;
      border-radius: 10px;
      min-width: 120px;
      svg {
        margin-bottom: 10px;
      }
    }
  }

  .intro-paragraph {
    width: 50%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;

  }

  .cta-button {
    padding: 15px;
    min-width: 200px;
    font-size: 20px;
    text-decoration: none;
    background-color: #BE4B85;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      text-decoration: underline;
    }

    svg {
      position: absolute;
      top: 6px;

      &.bi-telephone {
        left: 8px;
      }

      &.bi-calendar-heart {
        right: 8px;
      }
    }
  }
}

.homepage_slider_wrapper {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;

  &>div {
    border-radius: 20px;
    perspective: 1px;
  }

  div {
    width: 100% !important;
    max-width: 800px !important;
  }

}

.price_list {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  .col {
    @media (max-width: 575.98px) {
      width: 100%;
    }
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);

    .col-wrapper {
      padding: 15px;
    }

    h2 {
      font-size: 45px;
      font-weight: bold;
    }
  }
}
